body {
  background-color: #fff;
}
p {
  padding: 0;
  margin: 0;
}

.main-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content__container {
  width: 80%;
  height: 100%;
}
.main-content__container-component {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
}
